.wrapper {
    position: absolute;
    top: 25%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    background-color: white;
    border-radius: 10px;
    width: 450px;
    height: auto;
}
.loading {
    opacity: 30%;
}
.title {
    font-family: "Dancing Script", cursive;
    font-size: 42px;
}
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.addPhotos {
    border-radius: 10px;
    width: 120px;
    padding: 5px;
    background-color: #fc5321;
    color: white;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.addPhotos:hover {
    cursor: pointer;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.75);
}
.imageWrapper {
    width: 70%;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
}
.images {
    width: 10%;
    margin-right: 5px;
    object-fit: cover;
}
.addFile {
    display: none;
}

.addFile::-webkit-file-upload-button {
    visibility: hidden;
}
.input {
    border-radius: 5px;
    outline: none;
    border: 2px solid #fc5321;
    margin: 10px 0;
    width: 75%;
    height: 40px;
    padding: 0 10px;
}
.selectWrapper {
    display: flex;
    justify-content: space-between;
    width: 80%;
}
.select {
    border-radius: 5px;
    outline: none;
    border: 2px solid #fc5321;
    height: 40px;
    padding: 10px;
    width: 30%;
    margin: 10px 0;
    padding: 0 10px;
}
.sizeWrapper {
    display: flex;
    width: 80%;
    justify-content: space-between;
    margin: 10px;
}
.size {
    border-radius: 5px;
    outline: none;
    border: 2px solid #fc5321;
    height: 40px;
    width: 24%;
    padding: 0 10px;
}

.button {
    width: 80%;
    height: 40px;
    border-radius: 5px;
    outline: none;
    margin: 10px 0 30px 0;
    background-color: #fc5321;
    outline: none;
    border: none;
    text-transform: uppercase;
    color: white;
    font-size: 20px;
}
.textarea {
    width: 75%;
    height: 80px;
    border-radius: 10px;
    resize: none;
    outline: none;
    padding: 10px;
    border: 2px solid #fc5321;
    margin: 10px 0;
}

.textarea::-webkit-scrollbar {
    display: none;
}
.button:hover {
    cursor: pointer;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.75);
}
.addLoader {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 20%;
    width: 80px;
    height: 80px;
    left: 0;
    right: 0;
}
.addLoader::after {
    height: 80px;
    width: 80px;
}


@media screen and (max-width: 630px) {
    .wrapper {
        width: 400px;
        top: 10%;
    }
}
@media screen and (max-width: 500px) {
    .wrapper {
        width: 350px;
    }
}
